set_var EASYRSA_REQ_COUNTRY {{ easyrsa.country }}
set_var EASYRSA_REQ_PROVINCE {{ easyrsa.province }}
set_var EASYRSA_REQ_CITY {{ easyrsa.city }}
set_var EASYRSA_REQ_ORG {{ easyrsa.org }}
set_var EASYRSA_REQ_EMAIL {{ easyrsa.email }}
set_var EASYRSA_REQ_OU {{ easyrsa.ou }}
set_var EASYRSA_REQ_CN {{ easyrsa.cn }}
